@import 'mixins';
@import 'fonts';

//переопределелине bootstrap

@media (min-width: 1200px) {
    .container {
        max-width: 1190px;
    }
}

//переопределелине bootstrap end

body {
    font-family: 'Open Sans', sans-serif;
    color: #0e0e0e;
}

img {
    max-width: 100%;
    height: auto;
}

.main-btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    max-width: 100%;
    padding: 21px 30px;
    background: linear-gradient(95.48deg, #f7ce38 -7.1%, #fc210d 97.71%);
    border-radius: 1px;
    filter: drop-shadow(10px 11px 24px rgba(114, 10, 0, 0.2));

    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

.go-btn {
    display: flex;
    border-radius: 1px;
    width: 40px;
    height: 40px;
    background: linear-gradient(95.48deg, #f7ce38 -7.1%, #fc210d 97.71%);
    position: relative;

    &::before {
        content: '';
        background-color: #fff;
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        z-index: 0;
    }

    svg {
        z-index: 9;
        margin: auto;
    }

    &:hover {
        &::before {
            opacity: 0;
        }

        svg {
            path {
                fill: #fff;
            }
        }
    }
}

.fullsection {
    .fp-tableCell > * {
        height: 100%;
    }

    .container {
        height: 100%;
    }
}

.socials-links {
    font-size: 0;
    &__item {
        display: inline-block;
        margin-right: 10px;
        color: #fff;

        &:hover {
            color: #292e91;
        }

        @media (max-width: 575.98px) {
            width: 35px;
        }

        &:last-child {
            margin-right: 0;
        }

        svg {
            max-width: 100%;
        }
    }

    &--blue &__item {
        color: #292e91;
        &:hover {
            color: #292e91;
        }
    }
}

.section-title {
    font-family: 'BebasNeue', sans-serif;
    font-weight: 700;
    padding-bottom: 15px;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 28px;
    color: #292e91;
    position: relative;

    @media (max-width: 575.98px) {
        padding-right: 150px;
    }

    &--white {
        color: #fff;
    }

    &__link {
        font-family: 'Open Sans';
        position: absolute;
        z-index: 9;
        top: 0;
        right: 0px;
        font-size: 16px;
        line-height: 40px;
        font-weight: bold;
        background: linear-gradient(95.48deg, #f7ce38 -7.1%, #fc210d 97.71%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media (max-width: 767.98px) {
            line-height: 25px;
        }
    }

    &--white &__link {
        background: none;
        color: #fff;
        -webkit-background-clip: unset;
        -webkit-text-fill-color: unset;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 40px;
        height: 3px;
        background: linear-gradient(95.48deg, #f7ce38 -7.1%, #fc210d 97.71%);
    }
}

.fixed-btns {
    position: fixed;
    z-index: 99999;
    right: 40px;
    bottom: 40px;
    pointer-events: none;

    @media (max-width: 767.98px) {
        right: 48px;
        bottom: 48px;
    }
    &__item {
        width: 80px;
        height: 80px;
        box-shadow: 10px 11px 24px rgba(0, 3, 70, 0.24);
        border-radius: 80px;
        margin-bottom: 20px;
        cursor: pointer;
        position: relative;
        pointer-events: all;

        &:last-child {
            margin-bottom: 0;
        }

        &.custom-chat {
            pointer-events: none;
            &::before {
                position: absolute;
                content: '';
                right: 6px;
                top: 6px;
                border-radius: 100%;
                width: 12px;
                height: 12px;
                background: #00923f;
            }
        }

        img {
            border-radius: 100%;
        }

        @media (max-width: 767.98px) {
            width: 70px;
            height: 70px;
        }
    }
}

.b24-widget-button-pulse {
    display: none !important;
}

#progress-loading {
    position: fixed;
    z-index: 100;
    top: 0;
    left: -6px;
    width: 1%;
    height: 4px;
    background: linear-gradient(95.48deg, #f7ce38 -7.1%, #fc210d 97.71%);
    border-radius: 1px;
    transition: width 500ms ease-out, opacity 400ms linear;
}

.section-home {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/bg/home.jpg');
    padding-top: 20px;
    position: relative;
    overflow: hidden;
    &__bg {
        position: absolute;
        z-index: 0;
        inset: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-size: cover;
        min-width: 100vw;
        min-height: 100vh;
        transition: all 0.5s;
    }

    &__container {
        height: 100%;
        position: relative;
    }

    &__logo {
        width: 260px;
        max-width: 100%;
    }

    &__social {
        margin-top: 25px;
    }

    &__title {
        font-family: 'BebasNeue', sans-serif;
        position: absolute;
        bottom: 110px;
        color: #fff;
        font-weight: 700;
        font-size: 120px;
        line-height: 92%;
        @media (max-width: 1199.98px) {
            font-size: 95px;
        }

        @media (max-width: 991.98px) {
            font-size: 80px;
        }

        @media (max-width: 767.98px) {
            font-size: 65px;
        }

        @media (max-width: 575.98px) {
            font-size: 50px;
        }
    }

    &__next {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 40px;
        width: 24px;
        height: 24px;
        background-image: url('../img/icons/mouse-line.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 24px;
    }
}

.section-appeal {
    padding: 60px 0px;
    overflow: hidden;
    display: flex;
    background-image: url('../img/bg/appeal.jpg');
    background-size: cover;
    background-position: center;
    // background-repeat: no-repeat;
    // background-position: 20vw 42vh;

    @media (max-width: 991.98px) {
        padding: 40px 0px;
    }

    @media (max-width: 767.98px) {
        background-image: url('../img/bg/appeal.png');
        background-repeat: no-repeat;
        background-position: 20vw 42vh;
    }

    &__title {
        margin-top: 20px;
        margin-bottom: 40px;
        @media (max-width: 991.98px) {
            margin-bottom: 20px;
        }
    }

    &__container {
        height: auto !important;
        margin-top: auto;
        margin-bottom: auto;
    }

    &__name {
        font-weight: bold;
        font-size: 48px;
        line-height: 1em;
        margin-bottom: 15px;
        background: linear-gradient(95.48deg, #292ec4 0%, #4ca9df 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media (max-width: 991.98px) {
            font-size: 40px;
        }
    }

    &__desc {
        font-size: 20px;
        line-height: 1em;
        color: rgba(41, 46, 145, 0.6);
        margin-bottom: 35px;
        @media (max-width: 991.98px) {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 144%;
        color: #0e0e0e;
        max-width: 440px;
        margin-bottom: 54px;
        @media (max-width: 991.98px) {
            font-size: 16px;
            margin-bottom: 30px;
        }
    }

    &__btn {
        width: 390px;
        margin-bottom: 50px;
    }

    &__image {
        position: relative;
        filter: drop-shadow(10px 11px 24px rgba(41, 46, 145, 0.19));
        max-width: 460px;
        margin: 0px auto;

        @media (max-width: 991.98px) {
            margin-top: 30px;
            margin-bottom: 30px;
            max-width: 350px;
        }

        &::before {
            content: '';
            position: absolute;
            top: -30px;
            right: -30px;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: linear-gradient(88.28deg, #292ec4 -6.86%, #4ca9df 105.53%);
        }
    }
}

.section-burtoday {
    overflow: hidden;
    background: linear-gradient(88.28deg, #292ec4 -6.86%, #4ca9df 105.53%);
    position: relative;
    padding: 120px 0px;

    &__bg {
        position: absolute;
        inset: 0;
        z-index: 0;
        mix-blend-mode: multiply;
        background-size: cover;
        background-position: center;
        background-image: url('../img/bg/bur-day2.jpg');
    }

    @media (max-width: 1199.98px) {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    @media (max-width: 991.98px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media (max-width: 767.98px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    @media (max-width: 575.98px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &__title {
        color: #fff;
    }
}

.section-tomain {
    position: relative;
    padding: 120px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/bg/to-main.jpg');
    &__progres {
        position: absolute;
        height: 4px;
        width: 100%;
        top: 0;
        left: 0;
    }

    &__btn {
        width: 335px;
    }
}

.slider3d {
    background-image: url(../img/bg/burtoday-elips.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 945px;
    position: relative;
    height: 400px;
    width: 100%;
    font-size: 14px;
    --radius-x: 500px;
    --radius-y: 9em;
    transform: rotateZ(-8.43deg);

    @media (max-width: 1199.98px) {
        --radius-x: 400px;
        --radius-y: 8em;
        background-size: 820px;
    }

    @media (max-width: 991.98px) {
        --radius-x: 360px;
        --radius-y: 7em;
        background-size: 100%;
    }

    @media (max-width: 767.98px) {
        --radius-y: 5em;
        background-size: 520px;
        height: 400px;
    }
}

.slider3d__list {
    position: relative;
    list-style: none;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider3d__list__item {
    position: absolute;
    width: 160px;
    height: 85px;
    transition: transform 1s;
    transform: translateX(calc(var(--cos) * var(--radius-x))) translateY(calc(var(--sin) * var(--radius-y)))
        scale(calc(var(--scale) * 2)) rotateZ(8.43deg);

    padding-left: 40px;

    @media (max-width: 991.98px) {
        padding-left: 40px;
        width: 150px;
        height: 75px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 5px;
        left: 0;
        width: 35px;
        height: 35px;
        background-position: center;
        background-size: contain;
        @media (max-width: 991.98px) {
            width: 30px;
            height: 30px;
        }
    }

    &.vrp-block::before {
        background-image: url(../img/content/buryatiatoday/vrp.png);
    }
    &.inv-block::before {
        background-image: url(../img/content/buryatiatoday/money.png);
    }
    &.fls-block::before {
        background-image: url(../img/content/buryatiatoday/flash.png);
    }

    &__count {
        font-family: 'BebasNeue', sans-serif;
        position: relative;
        font-size: 45px;
        line-height: 1em;
        font-weight: 600;
        background: linear-gradient(95.48deg, #f7ce38 -15.1%, #fc210d 150.71%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media (max-width: 991.98px) {
            font-size: 38px;
        }
    }

    &__measure {
        font-size: 12px;
        line-height: 1em;
        margin-bottom: 3px;
        background: linear-gradient(95.48deg, #f7ce38 -15.1%, #fc210d 150.71%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media (max-width: 991.98px) {
            font-size: 10px;
        }
    }

    &__title {
        font-size: 10px;
        font-weight: 600;
        @media (max-width: 991.98px) {
            font-size: 9px;
        }
    }
    &__desc {
        font-size: 9px;
        @media (max-width: 991.98px) {
            font-size: 9px;
        }
    }
}

.slider3d__list__step-button {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    background: black;
    border: none;
    color: white;
    padding: 1em;
    cursor: pointer;
}

.slider3d__list__step-button_prev {
    left: 0;
}

.slider3d__list__step-button_next {
    right: 0;
}
